@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.background-image 
{
    background-image: url('https://assets.airtrfx.com/media-em/at/62fccf4b66f3f_08cfec9d-774d-473e-aaec-adff86a8c518.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}